@page "/customer/create"
@page "/customer/edit"
@page "/customer/edit/{ParamCustomerID:guid}"

<PageTitle>@($"{GlobalVariable.AppName} | Customer")</PageTitle>

<div class="rz-mb-6">
    <RadzenBreadCrumb>
        <RadzenBreadCrumbItem Path="/customer"
                              Text="Customer" />
        <RadzenBreadCrumbItem Text="@PagePathText" />
    </RadzenBreadCrumb>
</div>

<MainTransactionButton OnButtonBackClicked="EvBackToPrevious" />

<RadzenRow Gap="0.5rem" RowGap="0.5rem">
    <RadzenColumn SizeLG="6" SizeMD="12" class="rz-py-5">
        <RadzenCard class="my-2">
            <RadzenTemplateForm Data="@CustomerState.Customer" Submit="@(async (CustomerDTO args) => { await SubmitAsync(args); })">
                <FluentValidationValidator @ref="customerValidator" />

                <RadzenStack>
                    <RadzenFieldset Text="@FormHeaderText">
                        <RadzenStack Gap="1rem">
                            <RadzenTabs>
                                <Tabs>
                                    <RadzenTabsItem Text="Basic Info">
                                        <RadzenStack>
                                            <RadzenTextBox Name="@nameof(CustomerState.Customer.CustomerName)"
                                                           Placeholder="Name"
                                                           @bind-Value="CustomerState.Customer.CustomerName" />

                                            <RadzenTextBox Name="@nameof(CustomerState.Customer.PhoneNumber)"
                                                           Placeholder="Phone Number"
                                                           @bind-Value="CustomerState.Customer.PhoneNumber" />

                                            <RadzenTextBox Name="@nameof(CustomerState.Customer.Email)"
                                                           Placeholder="Email"
                                                           @bind-Value="CustomerState.Customer.Email" />

                                            <RadzenTextArea Name="@nameof(CustomerState.Customer.Address)"
                                                            Placeholder="Address"
                                                            class="w-100"
                                                            aria-label="TextArea"
                                                            @bind-Value="CustomerState.Customer.Address" />

                                            <RadzenTextArea Name="@nameof(CustomerState.Customer.Note)"
                                                            Placeholder="Note"
                                                            class="w-100"
                                                            aria-label="TextArea"
                                                            @bind-Value="CustomerState.Customer.Note" />
                                        </RadzenStack>
                                    </RadzenTabsItem>

                                    <RadzenTabsItem Text="Contact Person">
                                        <RadzenStack>
                                            <RadzenTextBox Name="@nameof(CustomerState.Customer.ContactPerson)"
                                                           Placeholder="Contact Person"
                                                           @bind-Value="CustomerState.Customer.ContactPerson" />

                                            <RadzenTextBox Name="@nameof(CustomerState.Customer.CPPhone)"
                                                           Placeholder="Contact Person's Phone'"
                                                           @bind-Value="CustomerState.Customer.CPPhone" />
                                        </RadzenStack>
                                    </RadzenTabsItem>
                                </Tabs>
                            </RadzenTabs>
                        </RadzenStack>
                    </RadzenFieldset>
                    <ValidationSummary />

                </RadzenStack>

                <SaveTransactionButton OnButtonClear="ClearField"
                                       IsBusy="@IsSaving" />

            </RadzenTemplateForm>
        </RadzenCard>
    </RadzenColumn>
</RadzenRow>