@page "/registration"
@attribute [AllowAnonymous]

<PageTitle>@($"{GlobalConstant.AppName} | User Registration")</PageTitle>

<div class="d-flex justify-content-center align-items-center vh-100">
    <RadzenRow Gap="0"
               Class="rz-mx-6 rz-border-radius-4 rz-shadow-4"
               Style="width: 100%; max-width: 500px; overflow: hidden;">

        <RadzenColumn Size="12">
            <RadzenCard class="rz-p-12">
                <RadzenStack Gap="1.2rem"
                             Orientation="Orientation.Vertical">
                    <RadzenButton Variant="Variant.Text"
                                  Click=@(args => EvBackToPrevious())
                                  Icon="keyboard_return"
                                  Text="Return"
                                  ButtonStyle="ButtonStyle.Primary"
                                  Size="ButtonSize.Medium" class="col-4" />

                    @if (!IsSuccess)
                    {
                        <RadzenText TextStyle="TextStyle.H5"
                                    TagName="TagName.H2"
                                    Class="rz-mb-3 mx-auto">
                            Register
                        </RadzenText>
                        <RadzenTemplateForm Context="RegistrationContext"
                                            Data="@UserRegistrationState.UserRegistration"
                                            Submit="@((UserInitialRegistrationDto args) => RegisterUser(args))">
                            <FluentValidationValidator />

                            <RadzenStack Gap="1.2rem"
                                         Orientation="Orientation.Vertical">

                                <RadzenTextBox Name="UserName"
                                               Placeholder="Username"
                                               @bind-Value="UserRegistrationState.UserRegistration.Username" />

                                <RadzenTextBox Name="Email"
                                               Placeholder="Email"
                                               @bind-Value="UserRegistrationState.UserRegistration.Email" />

                                <RadzenPassword Name="Password"
                                                Placeholder="Password"
                                                @bind-Value="UserRegistrationState.UserRegistration.Password" />

                                <RadzenPassword Name="ConfirmPassword"
                                                Placeholder="Confirm Password"
                                                @bind-Value="UserRegistrationState.UserRegistration.ConfirmPassword" />

                                <ValidationSummary />
                                @if(ValidationErrorMessage is not null)
                                {
                                    <ul style="color: Red;">
                                        @foreach (var error in ValidationErrorMessage)
                                        {
                                            <li>@error</li>
                                        }
                                    </ul>
                                }
                                <RadzenButton Text="Register"
                                              ButtonStyle="ButtonStyle.Secondary"
                                              ButtonType="ButtonType.Submit"
                                              IsBusy="@IsSaving" />

                            </RadzenStack>
                        </RadzenTemplateForm>
                        <RadzenAlert AlertStyle="AlertStyle.Danger"
                                     Variant="Variant.Flat"
                                     Shade="Shade.Lighter"
                                     @bind-Visible="AlertVisible">
                            @ErrorMessage
                        </RadzenAlert>
                    }
                    else
                    {
                        <RadzenStack Gap="1.2rem"
                                     Orientation="Orientation.Vertical"
                                     AlignItems="AlignItems.Center">
                            <RadzenIcon Icon="task_alt" IconStyle="IconStyle.Success" />
                            <RadzenText TextStyle="TextStyle.H5"
                                        TagName="TagName.H2"
                                        Class="rz-mb-3">
                                Registration Successful
                            </RadzenText>
                            <RadzenText Text="You have successfully registered. Please check your email for the verification link."
                                        TagName="TagName.P"
                                        Class="" />
                        </RadzenStack>
                    }
                </RadzenStack>
            </RadzenCard>
        </RadzenColumn>
    </RadzenRow>
</div>
