@inject IJSRuntime JSRuntime

@inherits LayoutComponentBase

<AuthorizeView>
    <Authorized>
        <RadzenLayout style="@(IsSmallScreen ? "position: relative" : "")">
            <RadzenHeader>
                <RadzenStack Orientation="Orientation.Horizontal"
                             AlignItems="AlignItems.Center"
                             Gap="2"
                             class="d-flex">
                    <RadzenSidebarToggle Click="@(args => SideBarClicked())" />
                    <RadzenLabel Text="BionPro" class="fw-bold" />
                    <AuthLink />
                </RadzenStack>
            </RadzenHeader>

            <RadzenSidebar @bind-Expanded="@sidebarExpanded"
                           style="@(IsSmallScreen ? "position: absolute" : "")">
                <RadzenPanelMenu Multiple="true">
                    <RadzenPanelMenuItem Text="Dashboard" Icon="dashboard" IconColor="@iconColor" Path="/" />
                    <RadzenPanelMenuItem Text="Customers" Icon="people_alt" Path="customers" />
                    <RadzenPanelMenuItem Text="Suppliers" Icon="people_outline" Path="suppliers" />
                    <RadzenPanelMenuItem Text="Products" Icon="inventory" Path="products" />
                    <RadzenPanelMenuItem Text="Inventory" Icon="storefront" IconColor="@iconColor" />
                    <RadzenPanelMenuItem Text="Purchases" Icon="shopping_cart" IconColor="@iconColor" Path="purchases" />
                    <RadzenPanelMenuItem Text="Sales" Icon="shopping_bag" IconColor="@iconColor" />
                    <RadzenPanelMenuItem Text="Authorization" Icon="lock_open" IconColor="@iconColor" />
                    <RadzenPanelMenuItem Text="Settings" Icon="build" IconColor="@iconColor" />

                    @* <RadzenPanelMenuItem Text="Products" Icon="inventory" IconColor="@iconColor" Expanded="false">
                    <RadzenPanelMenuItem Text="Categories" Icon="list" Path="product-categories" />
                    <RadzenPanelMenuItem Text="Product List" Icon="wysiwyg" Path="product" />
                    </RadzenPanelMenuItem> *@
                </RadzenPanelMenu>
                @*<div class="rz-p-4">
                Sidebar
                </div> *@
            </RadzenSidebar>

            <RadzenBody>
                <div class="rz-p-4">
                    <ErrorBoundary @ref="errorBoundary">
                        <ChildContent>
                            @Body
                        </ChildContent>
                        <ErrorContent Context="errorContext">
                            <RadzenAlert AlertStyle="AlertStyle.Danger" Variant="Variant.Flat" Shade="Shade.Lighter">
                                @errorContext.Message
                            </RadzenAlert>
                        </ErrorContent>
                    </ErrorBoundary>
                </div>
            </RadzenBody>

            <RadzenFooter>
                <RadzenText TextStyle="TextStyle.Overline">Developed by <a href="https://biondigital.id" target="_blank">Bion Digital</a></RadzenText>
            </RadzenFooter>
        </RadzenLayout>
    </Authorized>

    <NotAuthorized>
        @Body
    </NotAuthorized>

</AuthorizeView>


<RadzenComponents />

@code {
    bool IsSmallScreen = false;
    bool sidebarExpanded = false;
    string iconColor = string.Empty;
    ErrorBoundary? errorBoundary;

    protected override async Task OnInitializedAsync()
    {
        await UpdateScreenSizeInfo();
    }

    private async Task SideBarClicked()
    {
        sidebarExpanded = !sidebarExpanded;
        await UpdateScreenSizeInfo();
    }

    private async Task UpdateScreenSizeInfo()
    {
        var screenWidth = await JSRuntime.InvokeAsync<int>("getScreenWidth");
        IsSmallScreen = screenWidth <= 768; // Assuming 768px as the breakpoint for small screens
    }

    protected override void OnParametersSet() => errorBoundary?.Recover();
}